// extends layout

// block content
//   h1= title
//   p Welcome to #{title}
//   p SessionId is  #{sessionId}
//   a(href='https://stickie2-jaskiratr.c9users.io/'+ sessionId) New Session
//   br
//   a(href='http://google.com') Enter Existing/Previous session

extends layout

block content
  .container
      header.codrops-header
        h1
          | Stickie 
          span Access for everyone.
      section#sessionButtons.color-2
        button#newSessionButton.btn.btn-2.btn-2a New Session (n)
        button#joinSessionButton.btn.btn-2.btn-2a Join Session (j)
      
      section  
        form#newForm.simform(autocomplete='off',name='newForm')
          #newForm-inner.simform-inner.newForm-inner
            ol.questions
              li
                span
                  label(for='q1newForm') Your team name
                input#q1newForm(name='q1newForm', type='text',autofocus='autofocus',accesskey="n")
          button.submit(type='submit') Send answers
          .controls
            button.next
            .progress
            span.number
              span.number-current
              span.number-total
            span.error-message
        span.final-message
  
        form#joinForm.simform(autocomplete='off')
          #joinForm-inner.simform-inner.joinForm-inner
            ol.questions
              li
                span
                  label(for='q1joinForm') Join existing session
                input#q1joinForm(name='q1joinForm', type='text',autofocus='autofocus',accesskey="j")
              // li
              //   span
              //     label(for='q2joinForm') Your team name
              //   input#q2joinForm(name='q2joinForm', type='text')
            button.submit(type='submit') Send answers
            .controls
              button.next
              .progress
              span.number
                span.number-current
                span.number-total
              span.error-message
          span.final-message
    script(src='javascripts/stepsForm.js')
    script(src = "") 
    script(src='javascripts/classie.js')
    script(src='javascripts/formClick.js')
    
    
   
  // span SessionId is  #{sessionId}