extends layout

block content
  // h1= title
  // p Welcome to #{title}
  
  
  script(src="javascripts/three.min.js")
  script(src="javascripts/renderers/Projector.js")
  script(src="javascripts/renderers/CanvasRenderer.js")
  script(src="javascripts/libs/stats.min.js")
  script(src="javascripts/libs/dat.gui.min.js")
  script(src="javascripts/script.js")
  // script.
  //   showNotification()
  
  // TODO : Fix file paths in script.js
